#root {
    margin: 0 auto;
    padding: 1rem 2rem;
}

.options {
    margin: 0 auto;
    max-width: 800px;
}

.slider {
    width: 33%;
}

.ant-skeleton.curve-select,
.ant-skeleton.ant-skeleton-element .ant-skeleton-input.curve-select {
    width: 100%;
}

@media (max-width: 800px) {
    .row {
        flex-direction: column;
    }

    .slider {
        width: 100%;
    }
}
