#root {
    margin: 0 auto;
    padding: 1rem 2rem;
}

.options,
.site-info {
    margin: 0 auto;
    max-width: 800px;
}

.site-info {
    text-align: center;
}

.slider {
    width: 33%;
}

@media (max-width: 800px) {
    .row {
        flex-direction: column;
    }

    .slider {
        width: 100%;
    }
}
