html,
body {
    margin: 0;
    padding: 0;
}

.layout {
    margin: 0 auto;
    padding: 1rem 2rem;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.options,
.site-info {
    margin: 0 auto;
    max-width: 800px;
}

.row {
    display: flex;
    flex-flow: row wrap;
    column-gap: 24px;
}

.slider-row {
    column-gap: 48px;
}

.slider {
    min-width: 220px;
    flex: 1;
}

.align-end {
    margin-inline-start: auto;
}

.site-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 8px;
    column-gap: 48px;
}

.site-info p {
    margin: 0;
}
