.chart-container {
    min-height: 450px;
    margin: 0 0 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.chart-container.placeholder {
    align-items: center;
}

.chart-container .wrap {
    position: relative;
    display: flex;
}

.chart-container .chart {
    width: 800px;
    height: 450px;
    flex-shrink: 0;
    flex-grow: 0;
}

.chart-container .legend {
    min-width: 200px;
    overflow: visible;
    text-overflow: unset;

    display: flex;
    flex-flow: column wrap;
}

.legend.inside {
    position: absolute;
    left: 80px;
    top: 24px;
}

.legend .swatch {
    display: flex;
    flex-direction: row;
    align-items: center;

    break-inside: avoid;
    unicode-bidi: isolate;

    line-height: 24px;
}

.swatch-color {
    width: 16px;
    height: 16px;
}

.swatch-label {
    margin-inline-start: 8px;
}

@media (max-width: 1200px) {
    .chart-container .wrap {
        flex-direction: column;
        align-items: center;
    }

    .chart-container .legend:not(.inside) {
        max-width: 800px;
        min-height: 24px;
        margin-top: 6px;
        flex-direction: row;
        column-gap: 24px;
    }
}
